.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.hugo_build.lock
/blog/blogdown
/blog/content/**/*.html
/blog/public
/blog/resources/_gen
/blog/static/*_files
/blog/static/NSFG
/blog/static/rmarkdown-libs
Thumbs.db
