<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    />
    <title>
      {{ block "title" . }}{{ end }}
    </title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    {{ $style := resources.Get "stylesheets/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400i,600%7COpen+Sans:400,600" rel="stylesheet" />
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ if eq .Page.Section "noindex" }}
      <meta name="robots" content="noindex" />
    {{ end -}}
  </head>

  <body>
    <header>
      {{ block "header" . }}
        Hello, world!
      {{ end }}
    </header>
    <main>
      {{ block "main" . }}
        Hello, world!
      {{ end }}
    </main>
    {{ if not .Site.BuildDrafts }}
      <script async src="//static.getclicky.com/101370339.js"></script>
      <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101370339ns.gif" /></p></noscript>
    {{ end }}
    <script src="//yihui.org/js/math-code.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/TeX", "output/HTML-CSS"],
        "HTML-CSS": {
          styles: {
            ".MathJax": {
              "color": "#555"
            }
          }
        }
      });
    </script>
    <script async
      src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </body>
</html>

