{{ define "title" }}
  {{ if eq .Page.Kind "taxonomy" }}
    {{ .Title }} | {{ .Site.Title }}
  {{ else }}
    {{ .Site.Title }} | {{ .Site.Params.Subtitle }}
  {{ end }}
{{ end }}

{{ define "main" }}
  <nav>
    {{ range .Pages }}
      <article>
        <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
        {{ partial "meta" . }}
        {{ .Summary }}
        <p class="read-more"><a href="{{.Permalink}}">Read more &raquo;</a></p>
      </article>
    {{ end }}
  </nav>
  {{ partial "aside" . }}
{{ end }}
