{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "header" }}
  <div class="title"><a href="/">{{ .Site.Title }}</a></div>
  <div class="subtitle">{{ .Site.Params.Subtitle }}</div>
{{ end }}

{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    {{ partial "meta" . }}
    <p>{{ .Summary }}</p>
    {{ .Content }}
    <h2>Comments</h2>
    <script defer src="https://cdn.commento.io/js/commento.js"></script>
    <div id="commento"></div>
  </article>
  {{ partial "aside" . }}
{{ end }}
