/* LAYOUT */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  margin: 1rem 0;
}

header {
  margin: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;

  > nav {
    > h2 {
      margin-bottom: 0.5rem;
    }

    article {
      margin-bottom: 1.5rem;
      padding: 0 1rem;

      h2 {
        margin-top: 1rem;
      }

      .meta {
        margin: 0.5rem 0;
      }
    }

    article:last-child {
      margin-bottom: 0;
    }
  }

  > article {
    margin: 0 1rem;

    .meta {
      margin: 0.5rem 0 0;
    }
  }

  > aside {
    flex: 0 0 13rem;
    margin: 1.5rem auto 0;
    padding: 1rem;

    section {
      margin-bottom: 2rem;
    }

    section:last-child {
      margin-bottom: 0;
    }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;

    .date {
      flex: 1;
      white-space: nowrap;
    }
  }
}

@media (min-width: 768px) {
  header {
    margin: 1.5rem;
  }

  main {
    padding: 0 1.5rem 1.5rem;

    > nav {
      > h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 1rem 1rem;

    > * {
      margin-right: 1.5rem;
    }

    > aside {
      margin: 0;
      max-width: 260px;
    }
  }
}


/* STYLING */

@mixin non-body-font() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin bold() {
  font-weight: 600;
}

@mixin deemphasize() {
  opacity: 0.6;
}

@mixin smaller() {
  font-size: 0.8rem;
}

@mixin smallest() {
  font-size: 0.65rem;
}

@mixin hanging-indent() {
  margin-left: 0;
  padding-left: 2rem;
  text-indent: -2rem;
}

html {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 125%;
  font-weight: 400;
}

body {
  color: #333;
  line-height: 1.4;
}

p {
  text-align: justify;
}

a {
  color: #333;
  text-decoration-thickness: 1px;
}

strong, b {
  @include bold();
}

code {
  font-family: monospace;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  @include non-body-font();
  @include bold();
}

sup {
  font-size: 0.83em;
  line-height: 0;
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

header {
  text-align: center;

  .title, h1 {
    @include bold();
    font-family: inherit;
    font-size: 1.3rem;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .subtitle {
    @include deemphasize();
    @include smaller();
  }
}

main {
  > nav {
    > h2 {
      font-size: 1.2rem;
      text-align: center;
    }

    article {
      h2 {
        font-size: 1.2rem;

        a {
          color: inherit;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .tags {
        text-align: left;
      }
    }

    .pagination {
      @include non-body-font();
      @include smaller();
      text-align: center;
    }
  }

  > article {

    h1 {
      font-size: 1.3rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    h2, h3, h4, h5, h6 {
      margin: 1.25rem 0 1rem;
    }

    table {
      caption-side: top;
      font-size: 0.75rem;
      margin: 0.5rem auto 1.25rem;
      max-width: 100%;
      font-size: 0.35rem;

      thead {
        @include non-body-font();
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;

        th {
          padding: 0 0.25rem;
        }
      }

      tbody {
        @include non-body-font();
        border-bottom: 1px solid #333;

        td {
          padding: 0 0.25rem;
        }

        tr.even {
          background-color: #eaeaea;
        }
      }
    }

    table.contingency {
      thead, tbody {
        border: none;
      }

      td.count {
        border: 1px solid #333;
        min-width: 2rem;
        padding: 0.25rem;
        text-align: center;
      }

      tr .question-row {
        padding: 0.125rem;
      }

      .column-label {
        border: none;
        text-align: center;
        padding: 0.125rem;
      }

      .row-question {
        vertical-align: middle;
        padding: 0.25rem;
      }

      .row-label {
        border: none;
        margin-right: 2px;
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        text-align: right;
        vertical-align: middle;
      }
    }

    caption, .caption {
      font-size: 0.45rem;
      font-style: italic;
      margin: 0 auto;
      text-align: center;
    }

    .three-columns {
      display: flex;

      table:first-child {
        border-left: 1px solid #333;
      }

      table {
        border-right: 1px solid #333;
        flex: 33%;
      }
    }

    .citation {
      @include deemphasize();
    }

    blockquote {
      border-left: 2px solid #eaeaea;
      margin: 0 0.5rem;
      padding: 0 0.5rem;
    }

    figure, .figure {
      @include smaller();
      max-width: 100%;
      margin: 1rem 0 2rem;
      text-align: center;

      img {
        max-width: 100%;
      }

      .caption {
        margin: 0;
        text-align: inherit;
      }
    }

    ul {
      list-style-type: circle;
      li {
        margin-left: 1.5rem;
        padding-left: 0.5rem;
      }
    }

    ol {
      li {
        list-style-type: decimal;
        list-style-position: outside;
        margin-left: 1rem;
        padding-left: 0.5rem;
      }
    }

    #refs {
      margin: 1rem 0 0;

      div {
        @include hanging-indent();
        p {
          text-align: left;
        }

        a {
          word-break: break-all;
        }
      }

      .csl-entry {
        margin: 0.5rem 0;
      }
    }

    .footnotes hr {
      display:none;
    }

    #TOC {
      margin: 1rem 0 2rem;

      ul {
        list-style: none;

        li {
          margin-left: 0;
          padding-left: 0;
        }

        ul {
          margin-left: 2rem;
        }
      }

    }
  }

  > aside {
    @include non-body-font();
    background-color: #eaeaea;

    .heading, .subheading, ul {
      text-align: center;
    }

    .heading {
      @include bold();
      font-size: 1.0rem;
      text-transform: uppercase;
      margin: 0;
    }

    .subheading {
      @include bold();
      @include smaller();
      font-size: 0.85rem;
      margin: 0.5rem 0 0;
    }

    p {
      @include smallest();
      clear: left;
      line-height: 1.3;
      margin: 0.5rem 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    ul {
      @include smaller();
    }

    img.avatar {
      float: left;
      margin: 0 0.5rem 0.5rem 0;
      max-width: 128px;
    }

    section#tags ul li {
      margin-top: 0.25rem;
    }
  }

  .meta {
    @include non-body-font();
    @include deemphasize();
    @include smaller();
  }
}

@media (min-width: 768px) {
  header {
    .title, h1 {
      font-size: 2.5rem;
    }

    .subtitle {
      @include deemphasize();
      font-size: 1rem;
    }
  }

  main {
    > nav {

      > h2 {
        font-size: 1.3rem;
      }

      article {
        border: 1px solid #eaeaea;
        h2 {
          font-size: 1.3rem;
        }
      }
    }
    > article {
      h1 {
        font-size: 1.75rem;
      }

      h2 {
        font-size: 1.3rem;
        margin-top: 1.5rem;
      }

      h3 {
        font-size: 1.1rem;
        margin-top: 1.25rem;
      }

      table {
        font-size: 0.55rem;
      }

      caption, .caption {
        font-size: 0.65rem;
      }
    }
    > aside {
      ul, .subheading {
        text-align: left;

        li {
          @include hanging-indent();
        }
      }

      section#tags, section#archive {
        width: 50%;
        float: left;
      }

      p {
        clear: none;
      }

      img.avatar {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    > article {
      table {
        font-size: 0.75rem;
      }

      caption, .caption {
        font-size: 0.8rem;
      }
    }
    > aside {
      section#tags, section#archive {
        width: 100%;
      }

      p {
        clear: none;
      }

      img.avatar {
        display: block;
        float: none;
        margin: 0.5rem auto;
      }

      section#tags ul li {
        margin-top: 0;
      }
    }
  }
}


/* Content hacks */

.toc-section-number::after, .header-section-number::after {
  content: ".";
}
