{{ $this := . }}

<aside>
  <section id="tags">
    <p class="heading">Tags</p>
    <ul>
      {{ range .Site.Taxonomies.tags }}
        {{ if eq .Page $this }}
          <li><em>{{ .Page.Title }}</em> ({{ .Count }})</li>
        {{ else }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
        {{ end }}
      {{ end }}
    </ul>
  </section>
  <section id="archive">
    <p class="heading">Archive</hp>
    {{ range (.Site.RegularPages.GroupByDate "January 2006") }}
      <p class="subheading">{{ .Key }}</p>
      <ul class="archive-list">
        {{ range .Pages }}
          {{ if eq . $this }}
            <li><em>{{ .Title }}</em></li>
          {{ else }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </section>
  <section id="about">
    <p class="heading">About</p>
    <p>
      <img class="avatar" src="/images/joshua-born.jpg" alt="A headshot of Joshua Born" />My name is Joshua Born. I am a professional survey statistician and amateur social scientist. I would have liked to have been a professional scientist, but for many years I worked a previous career as a software developer, tried out different things, etc. etc., and life passed me by.
    </p>
    <p>
      This blog is an outlet for me to explore my own interests in my personal time, including research interests. Most of my research interests pertain to <a href="/tags/contraception.html">contraception</a>, alloparenting, and <a href="/tags/abortion.html">abortion</a>. I also write about <a href="/tags/fallacies.html">fallacies</a> in how people think about social issues.
    </p>
  </section>
</aside>
